<div class="container">

  <div class = "mainNav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
      <a class="navbar-brand" href="#">RecipeTree</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addrecipe">Add Recipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/recipes" aria-haspopup="true" aria-expanded="false">Recipes</a>
          </li>
        </ul>
      </div>

      {{!-- <form>
        <div class ="row col-6">
          <div class="form-group ">
          <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
        
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form> --}}
    </nav>
  </div>

  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">

          <h1 style="font-size:50px;text-align:center;">Welcome to Recipe Tree</h1>
          <h3 style="text-align:center;">Let's get cooking!</h3>
          <form class="clearfix mb-4" action="POST">

          <h3>Recipes:</h3>
          <div id="recipe-list" class="list-group">
              <hr class="mt-2 mb-5">
            <div class="row text-center">
              {{!-- <div class="col-lg-3 col-md-4 col-6"> --}}
                {{#each recipes}}

                  {{!-- <a href="recipes/{{this.id}}" class="mb-4 h-100 pic-link"> 
                    <p id="pic-heading text-center pl-1">{{this.name}}</p>
                    <img class="img-fluid img-thumbnail food-pic" src="{{this.picture}}" onerror="this.onerror=null; this.src='../public/image/food-tree.jpg'" alt="" width="100" height="120">
                  </a> --}}

                  <div class="gallery">
                    <a href="recipes/{{this.id}}">
                      <img src="{{this.picture}}" onerror="this.onerror=null; this.src='../public/img/food-tree.jpg'" alt="recipe-image" width="100" height="120">
                    </a>
                    <div class="desc">{{this.name}}</div>
                  </div>
                  {{!-- <button class="btn btn-danger float-right delete">ｘ</button> --}}
                {{/each}}
              {{!-- </div> --}}
            </div>
            {{!-- <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="https://res.cloudinary.com/dyoydnu0a/image/upload/v1566163507/orlova-maria-2RJc3Sdt7Tc-unsplash_zrfcly.jpg" alt="">
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://res.cloudinary.com/dyoydnu0a/image/upload/v1566163506/kamil-kalbarczyk-19Ft3QfakMo-unsplash_mmr8f5.jpg" alt="">
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://res.cloudinary.com/dyoydnu0a/image/upload/v1566163506/liubov-ilchuk-_qZOwG2oaj4-unsplash_bmxzrg.jpg" alt="">
              </a>
            </div> --}}
              {{!-- <div id="recipe-list" class="list-group">
                {{#each recipes}}
                <li data-id="{{this.id}}" class="list-group-item">
                  <img src ="{{this.picture}}">
                  <a href="recipe/{{this.id}}">{{this.name}}</a>
                  <button class="btn btn-danger float-right delete">ｘ</button>
                </li>
                {{/each}}
              </div> --}}
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>


